@import "bourbon";

$redish: #e13a2a;
$dkblue: #083451;
$golden: #fa9d26;
$gray: #a8a8a8;
$lightestgray: #e9e9e9;

/* Universal styling elements */
* {
	display: inline-block;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}

/* Bounding box all content on page*/
.container-all {
	width: 960px;
	margin:0 auto;
}

/* Bounding box for each example */
.main-container {
	position: relative;
	width: 960px;
	height: 500px;
	border-radius: 5px;
	margin: 10px;
	background-color: $lightestgray;
}

/* Example 1 */
.gmail-icon {
	a:visited {
		color:$gray;
		text-decoration: none;
	}

	&:hover a {
		color: $redish;
		text-decoration: underline;
	}
}

/* Example 2 */
.progress-bar {
	width: 200px;
	height: 20px;
	padding: 3px;
	border-radius: 13px;
	background-color: $dkblue;
}

.filler {
	display: block;
	width: 80px;
	height: 20px;
	border-radius: 10px;
	background-color: $golden;
}

/* Example 3 */
.dl-icon {
	height: 25px;
	width: 25px;
	padding: 5px;
}

.download-drop-shadow {
	text-align: left;
	height: 35px;
	width: 150px;
	padding: 0px;
	background-color: $golden;	
	margin: 0;
	border-radius: 5px;

	& p {
		font-size: 15px;
		position: absolute;
		top: 7.5px;
		margin: 0;
	}

	&:hover {
		background-color: $golden;
		box-shadow: 0px 0px 15px #555;
	}

	&:active {
		background-color: $redish;
	}
}

/* Example 4 */
 input[type=submit] {}

/* Example 5 */

.wweliz-logo-rotate {
	height:170px;
	width: 170px;
	z-index: 5;

	&:hover {
		@include transform(rotate(360deg));
		@include transform-origin(center);
		@include transition (all 1s ease-in-out);
	}
}

/* Example 6 */
.wweliz-logo-grow:hover {
	@include transform(translate(50%,50%)scale(2,2));
	@include transition (all 1s ease-in-out);
}

/* Example 7 */
.wweliz-logo-shift:hover {
	@include transform(translate(10px,10px));
	@include transition (all 0.5s ease-in-out);
}

/* Example 8 */
.gallery-bottom {
	height: 75px;
	padding: (null 300.5px null 300.5px);

	& ul {
		margin: 0;
		padding: 0;
	}

	& ul li {list-style:none;}

	& li img {
		opacity: 0.5;
		z-index: 8;
	}

	& li img:hover {
		opacity:1;
		@include transform(translateZ(0));
	}
}

/* Example 9 */
.wordsleft {
	color: $redish;
	opacity:1;
	margin: 0;

	&:active {opacity:1;}
}

.wordsright {
	color: $redish;
	opacity:0;
	margin: 0;

	&:active {opacity:1;}
}

.line {
	margin-left: 141px;
	min-height: 1px;
    width: 82px;
    display: block;
    background-color: $dkblue;
}

@include keyframes(bounce) {
			0% 	{top: 20px;}
		   50%  {top: 150px;}
		  100% 	{top: 20px;}
	}

/* Example 10 */
#bounce-logo img {
	position: absolute;
	margin: 0;
	z-index: 2;
	@include animation(bounce 0.9s infinite linear);
}

/* Example 11 */
.wtp {
	color: $dkblue;
	opacity: .2;

	&:hover {
		opacity: 1;
		@include transition(opacity 0.5s ease-in-out)
	}
}

/* Example 12 */
.blackbox {
	width:100px;
	height:75px;
	display: inline-block;
	background-color:black;
}

.static {
	padding: 12.5px;

	&:hover {
		visibility:hidden;
	}
}

/* Example 13 */
.square1 {
	width:75px;
	height:75px;
	background-color: $dkblue;
	position:absolute;
	@include box-lr (5s infinite);
}

@include keyframes(box-lr) {
	0%		{left:100%;}
	50%		{left:10%;}
	100%	{left:100%;}
}

/* Example 14 */
.beachball {
    height: 25px;
    width: 25px;
    padding: 0;
    margin: 0;

	@include transform(rotate(360deg));
	@include transform-origin(center);
	@include transition (all infinite);
	@include rotating (1s linear infinite)
}

/* Example 15 */
.zwrap {
	color: $golden;
	font-size: 75px;
	@include perspective(10000px);
	margin: 0;

	& .zword {
		font-size: 75px;
		@include transform(rotateX(180deg));
		margin: 0;
	}	
}

/* Example 16 */
.nps a {
	color: $dkblue;

	&:visited{
		text-align:left;
		color: $dkblue;
		display: inline-block;
		padding: 0;
		margin:0;
	}

	&:hover {
		text-align:left;
		text-decoration: underline;
		color: $redish;
		display: inline-block;
		padding: 0;
		margin:0;
	}
}

/* Example 17 */
.hypobox a {
	font-size: 20px;
	color: $dkblue;
	background-color: $gray;
	width: 200px;
	height: 35px;
	padding-top: 10px;

	&:hover {
		color: $gray;
		background: $dkblue;
	}
}

/* Example 18 */
.door {
	width: 115px;
	height: 283px;
	margin: 20px;
	@include animation(hinge 0.75s ease-in, slide 2.0s ease);
	@include transform-origin(0 0);
}

@include keyframes (hinge) {
from {@include transform(perspective(300) rotateY(-90deg));}
to {@include transform(perspective(300) rotateY(0deg));}
}

/* Example 19 */
.s2c {
	height: 75px;
	width: 75px;
	background: $dkblue;
	@include transition(all 1s);

    &:hover {
    	border-radius:50%;
	    background: $golden;
	   // -webkit-transition:all 1s;
		//-moz-transition:all 1s;
		//transition:all 1s;
    }
}

// /* Example 20 */
// .path {
// 	stroke-dasharray: 1700;
// 	stroke-dashoffset: 1700;
// 	@include dash (5s linear infinite);
// }

// @include keyframes (dash) {
// 	to {@include stroke-dashoffset (0);}

// /* Examples 21-26 */
// .ballack {
// 	@include transition (all .5s ease-in-out);
// 	display: block;
// }

// /* Example 21 */
// .gscale:hover{
// 	@include grayscale_element(1);
// 	//@include filter(grayscale 1)
// 	//{-webkit-filter: #{'grayscale(1)'};
// }

// /* Example 22 */
// .sepia:hover {-webkit-filter: #{'sepia(1)'};}

// /* Example 23 */
// .satu {
// 		&:hover
// 		@include filter(saturate (0.3));

// 		&:active {
// 			@include filter(saturate (2.5));
// }

// /* Example 24 */
// .hue-rotate:hover {-webkit-filter: #{'hue-rotate(90deg)'};}

// /* Example 25 */
// .contrast {
// 	&:hover {-webkit-filter: #{'contrast(2)'};}
// 	&:active {-webkit-filter: #{'contrast(0.5)'};}
// }

// /* Example 26 */

// .c2s {
// 	height: 75px;
// 	width: 75px;
// 	background: $golden;
// 	@include transition (all 1s);
//     border-radius: 50%;

//     &:hover {
//     	border-radius:0%;
// 	    background: $dkblue;
// 	    -webkit-transition:all 1s;
// 		-moz-transition:all 1s;
// 		transition:all 1s;
//     }
// }

// /* Example 27 */
// .square1 {
// 	@include animation(smove 3s infinite);
// }

// @include keyframes(smove) {
// 	0%		{top: 	0;}
// 	25%		{width: 100px;}
// 	50%		{top: 	425px;}
// 	100%	{top: 0;}
// }